﻿<div>
    <style>
        label{padding-right:10px;}
    </style>
    <div>
        <br>
        <label>Domain: </label><input type="text" name="fname" value="@ViewBag.Domain" readonly="readonly"><br>
        <label>URL:  </label><input type="text" name="fname" value="@ViewBag.Url" readonly="readonly"><br>
        <label>Intervalo entre sincronismo (minutos):  </label><input type="text" name="fname" value="@ViewBag.SyncTimer" readonly="readonly"><br>
        <label>Diretório do Log:  </label><input type="text" name="fname" value="@ViewBag.LogDirectory" readonly="readonly"><br>
        <br>
        <label>Ultimo Log: </label>
        <div style="border:ridge;">
            @Html.Raw(@ViewBag.LastLogCreated)
            <br>
            <br>
        </div>
        <br>
        <br>
        
        <button type="button" class="btn btn-default active" onclick="location.href='@Url.Action("Sincronizar", "Index")'">Sincronizar</button>
        <br>
    </div>
</div>
<script src="~/Scripts/jquery-3.2.1.min.js"></script>
<script>
    function ManualSyncronize() {
        alert("TO DO");
    }
</script>